.single, .category, .author {
  #main_content {
    @media (min-width: $screen-md-min) {
      margin-top: 54px;
    }
  }
  .main {
    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
    @media (min-width: $screen-md-min) {
      width: 60%;
    }
    @media (min-width: 1075px) {
      width: 62%;
    }
    @media (min-width: 1100px) {
      width: 63%;
    }
    @media (min-width: 1125px) {
      width: 64%;
    }
    @media (min-width: 1150px) {
      width: 65%;
    }
    @media (min-width: 1200px) {
      width: 66%;
    }
  }
}
.single #main_content {
  .container {
    @media (max-width: $screen-xs-max) {
      padding-left: 32px;
      padding-right: 32px;
    }
  }
}
.single {
  #top_header {
    margin-bottom: 28px;
  }
}
.btn-nav-page {
  font-family: Open Sans;
  font-size: 33.2px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  color: #fffefe;
  text-transform: uppercase;
  min-height: 90px;
  padding: 2px 12px;
  background-color: #f1592a;
  border-radius: 4px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  transition: background-color 300ms ease-out;
}
.btn-nav-page:hover, .btn-nav-page:focus {
  color: $main_color!important;
  background-color: darken(#f1592a, 10%);
  transition: background-color 300ms ease-in;
}
@media (min-width: 410px) {
  .btn-nav-page {
    padding: 2px 40px;
  }
}

header.entry-header {

  margin-bottom: 25px;
}
.entry-header .entry-title {
  margin-top: 0;
  font-family: Poppins;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #051624;
  @media (min-width: $screen-sm-min) {
    font-size: 50px;
  }
}
.entry-header .entry-title h2 {
  margin: 0px 0 10px 0 !important;
}
.post-meta-info {
  font-family: Poppins;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #454545;
}
.page-title h2 {
  margin: 25px 0 40px 0!important;
  font-size: 28px;
  font-family: Poppins;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #051624;
}

.entry-content img {
  max-width: 100%;
  clear: both;
  display: block;
  height: auto;
  margin: 0 auto;
}
@media (min-width: 768px){
  //.entry-header .entry-title {
  //  font-size: 50px;
  //}
  //.entry-content img {
  //  margin: 50px auto;
  //}
}
@media (max-width: 767px) {
  //.entry-header .entry-title {
  //  font-size: 30px;
  //}
  //.footer_nav ul li {
  //  margin-right: 14px !important;
  //}
  //.footer_nav ul li a, .footer_nav .copyright h1 {
  //  font-size: 9px !important;
  //}
  //.navigation {
  //  text-align: center !important;
  //  padding-left: 0 !important;
  //  padding-right: 0 !important;
  //}
  //.footer_nav .navigation {
  //  margin-top: 0px !important;
  //}
  //.footer_nav, .footer_nav section {
  //  min-height: 45px !important;
  //}
}
.entry-content, .entry-content p {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.73;
  text-align: left;
  color: #444444;
}
.entry-content h2, .entry-content p, .post-meta-info, .at-resp-share-element, .cm-posts-ads-row h2 {
  margin-top: 26px;
  margin-bottom: 26px;
}

.wp-pagenavi {
  margin-top: 50px;
  margin-bottom: 50px;
}
