
.aside {
  width: $width_aside;
  float: right;

  a {
    display: block;
    position: relative;
  }

  article:not([class]) {
    position: relative;
    width: 300px;
    max-width: 300px;
    border-radius: 2px;
    background-color: rgba(245, 245, 245, 0);
    padding-bottom: 10px;
    margin: 0 auto 25px;
    transition: all 1s ease-in-out;
    &:before {
      content: '';
      position: absolute;
      top: -24px;
      right: -32px;
      bottom: -2px;
      left: -32px;
      border: 1px solid $border_three_block_color;
      border-radius: 2px;
      z-index: -1;
      background-color: transparentize($light_text_color, 0.9);
      transition: all 1s ease-in-out;
    }
    &:hover {
      &:before {
        background-color: transparentize($light_text_color, 0.7);
        transition: all 1s ease-in-out;
        box-shadow: inset 0px -51px 107px -25px rgba(150,150,150,0.20);
      }
      .aside_img_overlay {
        opacity: 0;
        transition: all 1s ease-in-out;
      }
    }
    h2 {
      margin: 0;
      padding: 15px 20px 10px;
      font-size: 18px;
      font-family: 'Roboto', sans-serif;
      color: $dark_text_color;
      line-height: 1.222;
      z-index: 3;
    }
    .img-background-aside {
      position: relative;
      display: block;
      //max-width: 300px;
      height: 250px;
      margin: 0 auto;
      background: center center no-repeat;
      background-size: cover;
    }

    .aside_img_overlay {
      height: 250px;
      background-color: rgb(34, 19, 9);
      opacity: 0.102;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 3;
      transition: all 1s ease-in-out;
    }
  }

  .widget {
    margin-bottom: 50px;
  }

  .aside-popular {
    > h2, .widgettitle {
      position: relative;
      margin-top: 0;
      margin-bottom: 30px;
      font-size: 24px;
      font-family: Poppins;
      color: #051624;
      line-height: 1.222;
      font-weight: 500;
      text-transform: uppercase;
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
  .wb_right {
    min-height: 144px;
    border-bottom: 1px solid rgb(214, 214, 214);
    margin-top: 39px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      min-height: 104px;
      line-height: 1px;
      border-bottom: none;
      @media (min-width: $screen-sm-min) {
        min-height: 68px;
      }
    }
    > a {
      display: block;
      &:hover .wb_right_img {
        transition: all 1s ease-in-out;
        transform: scale(1.1, 1.1);
      }
    }
    @media (min-width: $screen-sm-min) {
      min-height: 94px;
      margin-top: 25px;
    }
  }
  .wb_right_img_wrap {
    display: inline-block;
    width: 24%;
    border-radius: 2px;
    overflow: hidden;
    perspective: 1px;
    @media (min-width: $screen-sm-min) {
      width: 25.3%;
    }
  }
  .wb_right_img {
    position: relative;
    background: center center no-repeat;
    background-size: cover;
    border-radius: 2px;
    background-color: rgb(217, 217, 217);
    width: 100%;
    height: 104px;
    transition: all 1s ease-in-out;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 2px;
      background-color: rgb(34, 19, 9);
      opacity: 0.102;
      z-index: 1;
    }
    @media (min-width: $screen-sm-min) {
      height: 68px;
    }
  }
  .wb_right_text {
    width: 72%;
    margin: 0;
    padding: 13px 28px;
    display: inline-block;
    font-size: 27px;
    vertical-align: top;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.357;
    text-align: left;
    @media (min-width: $screen-sm-min) {
      width: 73%;
      margin: 0;
      padding: 8px 17px;
      font-size: 18px;
    }
  }

  .three_blocks_item_post {
    > a {
      display: block;
    }
    &:hover .tb_img {
      transition: all 1s ease-in-out;
      transform: scale(1.1, 1.1);
      //opacity: 0.8;
    }
    @media (min-width: $screen-sm-min) {
      // (S) 768
      padding-top: 0;
    }
  }
  .tb_top_meta {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 16px;
    @media (min-width: $screen-sm-min) {
      // (S) 768
      font-family: Poppins;
      font-size: 22px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.18;
      text-align: left;
      color: #000000;
    }
  }
  .tb_img_wrap {
    height: $height_top_tree_block_img_mobile;
    overflow: hidden;
    margin-bottom: 16px;
  }
  .tb_img {
    position: relative;
    background: center center no-repeat;
    background-size: cover;
    height: $height_top_tree_block_img_mobile;
    overflow: hidden;
    z-index: 0;
    transition: all 1s ease-in-out;
    //opacity: .95;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      //background: linear-gradient(to top, rgba(0, 0, 0, .85) 0%, rgba(118, 118, 118, 0) 100%);
      //opacity: .85;
      z-index: 1;
    }
  }
  .tb_text {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    text-align: left;
    color: #666666;
    margin-bottom: 30px;
    @media (min-width: $screen-sm-min) {
      // (S) 768
      font-family: Roboto;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      text-align: left;
      color: #666666;
    }
  }
  .tb_slogan {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.14;
    text-align: left;
    color: #f1592a;
    margin-bottom: 53px;
    @media (min-width: $screen-sm-min) {
      // (S) 768
      font-family: Roboto;
      font-size: 28px;
      font-weight: 500;
      font-style: italic;
      font-stretch: normal;
      line-height: 1.14;
      text-align: left;
      color: #f1592a;
    }
  }


  .main_block_item {
    width: 100%;
    float: none;
    padding: 10px 0;
    border-radius: 2px;
    min-height: 265px;
    @media (min-width: $screen-sm-min) {
    }
    > a {
      display: block;
      height: 100%;
      &:hover .mb_img {
        transition: all 1s ease-in-out;
        transform: scale(1.1, 1.1);
      }
    }
  }
  .mb_img_wrap {
    border-radius: 2px;
    overflow: hidden;
    perspective: 1px;
  }
  .mb_img {
    height: 265px;
    position: relative;
    border-radius: 2px;
    background-color: rgb(217, 217, 217);
    background: center center no-repeat;
    background-size: cover;
    transition: all 1s ease-in-out;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 2px;
      z-index: 1;
      //background-color: rgb( 34, 19, 9 );
      opacity: 0.6;
    }
    @media (min-width: $screen-sm-min) {
      height: 222px;
    }
  }
  .mb_head {
    margin: 20px 18px 20px 0;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    text-align: left;
    color: #051624;
    @media (min-width: $screen-sm-min) {
      margin: 15px 14px 12px 0;
      font-family: Roboto;
    }
  }
  .mb_text {
    margin: 20px 18px 20px 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    text-align: left;
    color: #666666;

    @media (min-width: $screen-sm-min) {
      margin: 12px 40px 15px 0;
      font-size: 14px;
    }
  }
  .mb_read_more {
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    text-align: left;
    color: #f4ab42;
  }
}
