.footer_follow {

}
.footer_social{
  text-align: center;
  min-height: 75px;
  a {
    display: inline-block;
    margin: 0 3%;
    line-height: 75px;
    &:nth-child(2) {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    @media (min-width: $screen-sm-min) {
      // (S) 768
      margin: 0 1%;
    }
    @media (min-width: $screen-md-min) {
      // (S) 768
      margin: 0 4%;
    }
    @media (min-width: $screen-lg-min) {
      // (S) 768
      margin: 0 5%;
    }
  }
  @media (min-width: $screen-sm-min) {
    // (S) 768
    text-align: left;
  }
}
