.footer_widget {
  @media (min-width: $screen-sm-min) {
    // (S) 768
    border-right: solid 1px #a1a1a1;
  }
  .widget {
    .widget-title {
      text-align: center;
      @media (min-width: $screen-sm-min) {
        // (S) 768
        text-align: left;
      }
    }
    > ul {
      > li {
        width: 50%;
        float: left;
        padding-right: 3px;
        @media (min-width: $screen-sm-min) {
          // (S) 768
          width: 100%;
          float: none;
        }
      }
    }
  }
}
