#main_block {
  * {
    box-sizing: border-box;
  }
  padding: 10px 0;
  .main_block_item_wrap {
    margin-right: -2px;
    margin-left: -2px;
    @media (min-width: $screen-sm-min) {

    }
  }
  .main_block_item {
    width: 100%;
    float: none;
    padding: 10px 2px;
    border-radius: 2px;
    min-height: 265px;
    @media (min-width: $screen-sm-min) {
      // (S) 768
      width: 33.33333333%;
      min-height: 346px;
      //padding:0 3px 10px;
      float: left;
    }
    > a {
      display: block;
      height: 100%;
      &:hover .mb_img {
        transition: all 1s ease-in-out;
        transform: scale(1.1, 1.1);
      }
    }
  }
  .mb_img_wrap {
    border-radius: 2px;
    overflow: hidden;
    perspective: 1px;
  }
  .mb_img {
    height: 265px;
    position: relative;
    border-radius: 2px;
    background-color: rgb(217, 217, 217);
    background: center center no-repeat;
    background-size: cover;
    transition: all 1s ease-in-out;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 2px;
      z-index: 1;
      //background-color: rgb( 34, 19, 9 );
      opacity: 0.6;
    }
    @media (min-width: $screen-sm-min) {
      height: 222px;
    }
  }
  .mb_head {
    margin: 20px 18px 20px 0;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    text-align: left;
    color: #051624;
    @media (min-width: $screen-sm-min) {
      margin: 15px 14px 12px 0;
      font-family: Roboto;
    }
  }
  .mb_text {
    margin: 20px 18px 20px 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    text-align: left;
    color: #666666;

    @media (min-width: $screen-sm-min) {
      margin: 12px 40px 15px 0;
      font-size: 14px;
    }
  }
  .mb_read_more {
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    text-align: left;
    color: #f4ab42;
  }
}

.divider_main_block {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #c0c0c0;;
}
