$top_color: #fff;
$main_color: #ffffff;
$footer_color: #051624;

$light_text_color: #c3c3c3;
$article_text_color: #454545;
$dark_text_color: #051624;
$blue_text_color: #1ac7e7;
$grey_text_color: #666666;
$main_text_color: #444;
$border_three_block_color: #d6d6d6;
$border_wide_block_color: #d6d6d6;
$footer_bg_color: #404041;
$footer_widget_title_color: #ffffff;
$footer_social_icon_color: #fcb040;

$height_banner_big: 399px;
$height_banner_big_desktop: 430px;
$height_banner_small: 220px;
$height_banner_small_desktop: 198px;
$width_banner_big_desktop: 100%;
$width_ads_social: 728px;
$height_top_tree_block_desktop: 222px;
$height_top_tree_block_mobile: 343px;
$height_top_tree_block_img_mobile: 219px;
$height_top_tree_block_img_desktop: 219px;
$width_aside: 390px;
