<div class="col-xs-12 col-md-8 main">
  <article id="post-171"
           class="article-item post-171 post type-post status-publish format-standard has-post-thumbnail hentry category-popular">

    <header class="entry-header">
      <h1 class="entry-title">16 Celebrities Who Were Really Honest About Their Fertility
        Struggles</h1>

      <div class="post-meta-info">
        <div><span class="byline"><span class="author vcard"><span class="screen-reader-text">By  </span>Sean Smith</span></span>, Published on
          <time class="entry-date" datetime="2016-01-03T22:00:08+00:00">Apr 28, 2015</time>
        </div>
      </div>
    </header>
    <!-- .entry-header -->

    <div class="entry-content">

      <p>Although life behind Hollywood’s closed doors might seem too good to be true, even the richest and most famous figures struggle with infertility. Recently, more and more celebrities have been speaking out about their struggles to get pregnant. From Tyra Banks and Chrissy Teigen having an emotional tête-à-tête about pregnancy struggles, to Kim Catrall redefining the term “parent,” the issue in is widespread. Here are 16 celebrities who were really honest about their struggles to conceive.</p>

      <div class="page-title"><h2>Second Header</h2></div>
        <img class="attachment-full aligncenter"
             src="images/img/article.png" alt="mkultra"
             width="" height="">

      <p>Each year, the NFL Draft promises to bring a slew of new stars to pro-football and a collection of potential saviors to each NFL team and its fans. Unfortunately, not every prospect who’s billed as the next star lives up to the hype. NFL history is filled with highly rated players who were taken in the first round, but these NFL draft busts were never worthy of the hefty investment their teams made for them.</p>
    </div>
    <!-- .entry-content -->
    <div class="wp-pagenavi clearfix">
      <a class="btn btn-nav-page btn-block" href="article.html">Next Page<span class="arrow-right-post-1 arrow-post spr"></span>
      </a>
    </div>

    <div class="wp-pagenavi clearfix">
      <a class="btn btn-nav-page pull-left col-lg-4" href="article.html">
        <span class="arrow-left-post arrow-post spr"></span> Prev
      </a>
      <a class="btn btn-nav-page pull-right col-lg-4" href="article.html">
        Next <span class="arrow-right-post arrow-post spr"></span>
      </a>
    </div>
  </article>
  <!-- #post-## -->

</div>
