<div class="visible-md-block visible-lg-block col-md-4 aside">
  <div class="aside-popular">
    <h2>one</h2>
    <div class="widget">
      <div class="three_blocks_item three_blocks_item_post">
        <a href="#">
          <p class="tb_top_meta">Pasta with caramelised onions and yogurt recipe</p>
          <div class="tb_img_wrap">
            <div class="tb_img" style="background-image: url('images/img/post4.png')"></div>
          </div>
          <p class="tb_text">All right. Well, take care yourself. I guess that’s what you’re best, presence old master? A tremor in the Force. The last time felt it was in the...</p>
          <p class="tb_slogan">HOW TO MIX THE PERFECT JUICE </p>
        </a>
      </div><!--three_blocks_item_post-->
    </div>

    <h2>two</h2>
    <div class="widget">
      <div class="wb_right">
        <a href="#">
          <div class="wb_right_img_wrap">
            <div class="wb_right_img" style="background-image: url('images/img/sidebar-img-small-1.png')"></div>
          </div>
          <h2 class="wb_right_text">2016’s Swim Trend Revealed: Blurred Lines and Prints</h2></a>
      </div>
      <div class="wb_right">
        <a href="#">
          <div class="wb_right_img_wrap">
            <div class="wb_right_img" style="background-image: url('images/img/sidebar-img-small-2.png')"></div>
          </div>

          <h2 class="wb_right_text">16 Lonely Houses On The Edge Of The World</h2></a>
      </div>
      <div class="wb_right">
        <a href="#">
          <div class="wb_right_img_wrap">
            <div class="wb_right_img" style="background-image: url('images/img/sidebar-img-small-3.png')"></div>
          </div>

          <h2 class="wb_right_text">Actors Are Wearing the Best from Paris Week</h2></a>
      </div>
    </div>

    <h2>main</h2>
    <div class="widget">
      <div class="main_block_item">
        <a href="">
          <div class="mb_img_wrap">
            <div class="mb_img" style="background-image: url('images/img/post5.png')"></div>
          </div>

          <h2 class="mb_head">10 Most Visited Countries In The World!</h2>
          <p class="mb_text">All right. Well, take care yourself. I guess that’s what you’re best, presence old
            master? A tremor in the Force. The last time felt it was in the...</p>
          <p class="mb_read_more">Read more</p>
        </a>
      </div>
    </div>

  </div>
</div>
