<div id="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="top_block_big">
          <article>
            <a href="#" class="wrapp_item">
              <div class="img_article" style="background-image: url('images/img/slider.png')"></div>
              <div class="item_text">
                <h2 class="header_item">Discover the 10 Best Hair-styles According to Your Face Shape</h2>
                <hr class="post-yellow-divider">
                <p class="meta_item"><span class="author_name"> Matt Cloey -</span> <span
                  class="date_item">May 20, 2016</span></p>
              </div>
            </a>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
