<div id="footer_menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="footer_menu">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms Of Service</a></li>
                    <li><a href="#">DMCA</a></li>
                </ul>
                <div class="copyright">
                    <h1 class="copyright_head">NinjaJournalist 2016</h1>
                </div>
            </div>
        </div>
    </div>
</div>
