<div class="col-xs-12 col-sm-4 footer_about equal_footer">
  <a href="#" class="footer_logo_link">
    <img src="images/logo.png" alt="ninjajournalist" class="footer_logo_image img-responsive">
  </a>

  <div class="about_us widget">
    <h2 class="about_us_head widget-title"></h2>
    <p class="about_us_text">NinjaJournalist is a premium Wordpress review magazine theme, aliquam neque nunc,
      vestibulum et aliquet nisidapibus non velit sit amet, enean pretium sodalesorci placerat ultrices.</p>
  </div>

  <div id="search-2" class="widget_search hidden-xs widget">
    <h2 class="widget-title">search</h2>
    <form role="search" method="get" class="search-form" action="#">
      <label>
        <span class="screen-reader-text">Search for:</span>
        <input type="search" class="search-field" placeholder="Search …" value="" name="s">
      </label>
      <input type="submit" class="search-submit" value="Search">
    </form>
  </div>

</div>


