<div class="col-xs-12 col-sm-4 col-sm-pull-4 footer_widget equal_footer">
  <div class="widget">
    <h2 class="popular_post_head widget-title">POPULAR POSTS</h2>
    <ul>
      <li>
        <div class="popular_post_item">
          <a href="#" class="popular_post_item_link">
            <p class="popular_post_item_head">10 Landscapes You Won’t Have
              Even Imagined Exist</p>
            <p class="popular_post_item_meta widget_meta">
              Jan 22, 2016
            </p>
          </a>
        </div>
      </li>
      <li>
        <div class="popular_post_item">
          <a href="#" class="popular_post_item_link">
            <p class="popular_post_item_head">Decorating to Celebrate the
              Great Outdoor Space</p>
            <p class="popular_post_item_meta widget_meta">
              Jan 22, 2016
            </p>
          </a>
        </div>
      </li>
      <li>
        <div class="popular_post_item">
          <a href="#" class="popular_post_item_link">
            <p class="popular_post_item_head">Decorating to Celebrate the
              Great Outdoor Space</p>
            <p class="popular_post_item_meta widget_meta">
              Jan 22, 2016
            </p>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>

