
<div id="main_block">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <hr class="divider_main_block">
        <div class="main_block_item_wrap clearfix">
          <div class="main_block_item">
            <a href="">
              <div class="mb_img_wrap">
                <div class="mb_img" style="background-image: url('images/img/post5.png')"></div>
              </div>

              <h2 class="mb_head">10 Most Visited Countries In The World!</h2>
              <p class="mb_text">All right. Well, take care yourself. I guess that’s what you’re best, presence old
                master? A tremor in the Force. The last time felt it was in the...</p>
              <p class="mb_read_more">Read more</p>
            </a>
          </div>
          <div class="main_block_item">
            <a href="">
              <div class="mb_img_wrap">
                <div class="mb_img" style="background-image: url('images/img/post6.png')"></div>
              </div>
              <h2 class="mb_head">10 Most Visited Countries In The World!</h2>
              <p class="mb_text">All right. Well, take care yourself. I guess that’s what you’re best, presence old
                master? A tremor in the Force. The last time felt it was in the...</p>
              <p class="mb_read_more">Read more</p>
            </a>
          </div>
          <div class="main_block_item">
            <a href="">
              <div class="mb_img_wrap">
                <div class="mb_img" style="background-image: url('images/img/post7.png')"></div>
              </div>
              <h2 class="mb_head">10 Most Visited Countries In The World!</h2>
              <p class="mb_text">All right. Well, take care yourself. I guess that’s what you’re best, presence old
                master? A tremor in the Force. The last time felt it was in the...

              </p>
              <p class="mb_read_more">Read more</p>
            </a>
          </div>
          <div class="main_block_item">
            <a href="">
              <div class="mb_img_wrap">
                <div class="mb_img" style="background-image: url('images/img/post5.png')"></div>
              </div>

              <h2 class="mb_head">10 Most Visited Countries In The World!</h2>
              <p class="mb_text">All right. Well, take care yourself. I guess that’s what you’re best, presence old
                master? A tremor in the Force. The last time felt it was in the...</p>
              <p class="mb_read_more">Read more</p>
            </a>
          </div>
          <div class="main_block_item">
            <a href="">
              <div class="mb_img_wrap">
                <div class="mb_img" style="background-image: url('images/img/post6.png')"></div>
              </div>
              <h2 class="mb_head">10 Most Visited Countries In The World!</h2>
              <p class="mb_text">All right. Well, take care yourself. I guess that’s what you’re best, presence old
                master? A tremor in the Force. The last time felt it was in the...</p>
              <p class="mb_read_more">Read more</p>
            </a>
          </div>
          <div class="main_block_item">
            <a href="">
              <div class="mb_img_wrap">
                <div class="mb_img" style="background-image: url('images/img/post7.png')"></div>
              </div>
              <h2 class="mb_head">10 Most Visited Countries In The World!</h2>
              <p class="mb_text">All right. Well, take care yourself. I guess that’s what you’re best, presence old
                master? A tremor in the Force. The last time felt it was in the...

              </p>
              <p class="mb_read_more">Read more</p>
            </a>
          </div>
          <div class="main_block_item">
            <a href="">
              <div class="mb_img_wrap">
                <div class="mb_img" style="background-image: url('images/img/post5.png')"></div>
              </div>

              <h2 class="mb_head">10 Most Visited Countries In The World!</h2>
              <p class="mb_text">All right. Well, take care yourself. I guess that’s what you’re best, presence old
                master? A tremor in the Force. The last time felt it was in the...</p>
              <p class="mb_read_more">Read more</p>
            </a>
          </div>
          <div class="main_block_item">
            <a href="">
              <div class="mb_img_wrap">
                <div class="mb_img" style="background-image: url('images/img/post6.png')"></div>
              </div>
              <h2 class="mb_head">10 Most Visited Countries In The World!</h2>
              <p class="mb_text">All right. Well, take care yourself. I guess that’s what you’re best, presence old
                master? A tremor in the Force. The last time felt it was in the...</p>
              <p class="mb_read_more">Read more</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
