<div id="second_top_nav" class="hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-xs-9">
        <ul class="list-inline second_nav">
          <li><a href="#">About</a></li>
          <li><a href="#">Submit Story</a></li>
          <li><a href="#">Internship</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Newsletter</a></li>
        </ul>
      </div>
        <div class="col-xs-3">
            <ul class="list-inline second_nav top-social-links">
                <li><a href="#"><span class="icon icon-fb2"></span></a></li>
                <li><a href="#"><span class="icon icon-tw2"></span></a></li>
                <li><a href="#"><span class="icon icon-pt2"></span></a></li>
            </ul>
        </div>
    </div>
  </div>
</div>
