<div id="three_blocks">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-push-8">
        <div class="three_blocks_item three_blocks_item_social">
          <div class="td_block_social_counter td-pb-border-top">
            <div class="td_social_type td_social_facebook">
              <div class="td-sp td-sp-facebook"></div>
              <span class="td_social_info">6,238</span>
              <span class="td_social_info td_social_info_name">Fans</span>
              <span class="td_social_button"><a href="//www.facebook.com/">Like</a></span>
            </div>
            <div class="td_social_type td_social_twitter">
              <div class="td-sp td-sp-twitter"></div>
              <span class="td_social_info">34,736</span>
              <span class="td_social_info td_social_info_name">Followers</span>
              <span class="td_social_button"><a href="//twitter.com/">Follow</a></span>
            </div>
            <div class="td_social_type td_social_youtube">
              <div class="td-sp td-sp-youtube"></div>
              <span class="td_social_info">4,675</span>
              <span class="td_social_info td_social_info_name">Subscribers</span><span class="td_social_button"><a href="//www.youtube.com/">Subscribe</a></span>
            </div>
          </div>
          <div class="tbis_ads hidden-xs">
            <img src="images/img/Layer-50.png" alt="" class="img-responsive">
          </div>
        </div><!--three_blocks_item_social-->
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-pull-4">
        <div class="three_blocks_item three_blocks_item_post">
          <a href="#">
            <p class="tb_top_meta">Pasta with caramelised onions and yogurt recipe</p>
            <div class="tb_img_wrap">
              <div class="tb_img" style="background-image: url('images/img/post4.png')"></div>
            </div>
            <p class="tb_text">All right. Well, take care yourself. I guess that’s what you’re best, presence old master? A tremor in the Force. The last time felt it was in the...</p>
            <p class="tb_slogan">HOW TO MIX THE PERFECT JUICE </p>
          </a>
        </div><!--three_blocks_item_post-->
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-pull-4">
        <div class="three_blocks_item three_blocks_item_center">
          <hr class="tbcb_border visible-xs-block">
          <div class="tbcb_item">
            <a href="#">
              <h2 class="tbcb_item_head">Take a Wonderful Vacation at the 15 Best Mountain Hotels</h2>
              <p class="tbcb_item_meta">
                <span class="tbcb_item_author">John Doe</span> - <span class="tbcb_item_date">May 21, 2016</span>
              </p>
            </a>
          </div>
          <div class="tbcb_item">
            <h2 class="tbcb_item_head">Behold, The World First Floating Snowflake Hotel</h2>
            <p class="tbcb_item_meta">
              <span class="tbcb_item_author">Armin Vans</span> - <span class="tbcb_item_date">May 21, 2016</span>
            </p>
          </div>
          <div class="tbcb_item">
            <h2 class="tbcb_item_head">Luxury Watches for Men Found in Abandoned Storage Facility</h2>
            <p class="tbcb_item_meta">
              <span class="tbcb_item_author">John Doe</span> - <span class="tbcb_item_date">May 6, 2016</span>
            </p>
          </div>
          <hr class="tbcb_border visible-xs-block">
        </div><!--three_blocks_item_center-->
      </div>
    </div>
  </div>
</div>
