<div id="three_post_blocks">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="tpb_items_wrap">

          <div class="tpb_item">
            <a href="#" class="tpb_item_inner">
              <div class="tpb_img" style="background-image: url('images/img/3post-header.png')"></div>
              <div class="tpb_text">
                <div class="tpb_btn">Vacation</div>
                <h2 class="tpb_head">10 Most Visited Countries In The World!</h2>
                <p class="tpb_meta_item"><span class="tpb_author_name"> Matt Cloey -</span> <span class="tpb_date_item">May 20, 2016</span>
                </p>
              </div>
            </a>
          </div><!--tpb_item-->

          <div class="tpb_item">
            <a href="#" class="tpb_item_inner">
              <div class="tpb_img" style="background-image: url('images/img/3post-header2.png')"></div>
              <div class="tpb_text">
                <div class="tpb_btn">gadgets</div>
                <h2 class="tpb_head">Microsoft Subsumes Open Tech Unit Back Inside Mothership</h2>
                <p class="tpb_meta_item"><span class="tpb_author_name"> Matt Cloey -</span> <span class="tpb_date_item">May 20, 2016</span>
                </p>
              </div>
            </a>
          </div><!--tpb_item-->

          <div class="tpb_item">
            <a href="#" class="tpb_item_inner">
              <div class="tpb_img" style="background-image: url('images/img/3post-header3.png')"></div>
              <div class="tpb_text">
                <div class="tpb_btn">gadgets</div>
                <h2 class="tpb_head">Patricia Urquiola transparent furniture for Glas Italia with iridescent</h2>
                <p class="tpb_meta_item"><span class="tpb_author_name"> Matt Cloey -</span> <span class="tpb_date_item">May 20, 2016</span>
                </p>
              </div>
            </a>
          </div><!--tpb_item-->

        </div><!--tpb_item_wrap-->
      </div>
    </div>
  </div>
</div>
