<div id="wide_block">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="wb_wide">
          <a href="#">
            <div class="wb_wide_img_wrap">
              <div class="wb_wide_img" style="background-image: url('images/img/post-bottom.png')"></div>
            </div>
            <div class="wb_wide_content">
              <h2 class="wb_wide_head">10 Landscapes You Won’t Have Even
                Imagined Exist</h2>
              <p class="wb_wide_text visible-xs-block">All right. Well, take care yourself. I guess that’s what you’re best, presence old master? A tremor in the Force. The last time felt it was in the...</p>
              <p class="read_more">read more</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="wb_right">
          <a href="#">
            <div class="wb_right_img_wrap">
              <div class="wb_right_img" style="background-image: url('images/img/sidebar-img-small-1.png')"></div>
            </div>
            <h2 class="wb_right_text">2016’s Swim Trend Revealed: Blurred Lines and Prints</h2></a>
        </div>
        <div class="wb_right">
          <a href="#">
            <div class="wb_right_img_wrap">
              <div class="wb_right_img" style="background-image: url('images/img/sidebar-img-small-2.png')"></div>
            </div>

            <h2 class="wb_right_text">16 Lonely Houses On The Edge Of The World</h2></a>
        </div>
        <div class="wb_right">
          <a href="#">
            <div class="wb_right_img_wrap">
              <div class="wb_right_img" style="background-image: url('images/img/sidebar-img-small-3.png')"></div>
            </div>

            <h2 class="wb_right_text">Actors Are Wearing the Best from Paris Week</h2></a>
        </div>
      </div>
    </div>
  </div>
</div>
